<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Login</title>
    <link rel="stylesheet" href="estilo_login.css">
</head>

<body>

    <div class="login">
        <img src="https://image.flaticon.com/icons/svg/2037/2037507.svg" class="usuario" width="100" alt="">
        <h1>Login</h1>

        <form action="">

            <p>Usuário</p>
            <input type="text" name="" placeholder="Insira seu nome de usuário">
            <p>Senha</p>
            <input type="password" name="" placeholder="Insira sua senha">
            <input type="button" name="" value="Login" onclick="nova()">
            
           
            <a href="#">Esqueceu a senha?</a><br>
            <a href="#">Ainda não possui conta?</a>
        </form>

       
    </div>

    <script>
        
    </script>

</body>

</html>